{% extends 'base.html' %}
{% block title %}
    UserData
{% endblock%}

{% block content %}
<!-- style="border: 1px solid black; border-radius: 9px; padding: 15px; align-items: center; justify-content: center; text-align: center; margin: auto; width: 50%;" -->

<!-- Customer_record stands for the user and all information about him we get that from the home page with rendering the varible customer_record -->
<form action="" class="form border rounded-5 border-2 p-4">
    <h1> Modify Information </h1>
    <br>
    <br>
    <div style="width: 100%;">
        <label for="" style="width: 30%; float: left;">First Name</label>
        <input style="width: 60%;" class="form-control" type="text" value="{{ customer_record.first_name }}">
    </div>
    <br />
    <div style="width: 100%;">
        <label style="float: left; width: 30%;" for="">Last Name</label>
        <input style="width: 60%;" class="form-control" type="text" value="{{ customer_record.last_name }}">
    </div>
    <br />
    <div style="width: 100%;">
        <label style="width: 30%; float: left;" for="">Email</label>
        <input style="width: 60%;" class="form-control" type="text" value="{{ customer_record.email}}">
    </div>
    <br />
    <div style="width: 100%;">
        <label style="width: 30%; float: left;" for="">Phone</label>
        <input style="width: 60%;" class="form-control" type="text" value="{{ customer_record.phone }}" name="" id="">
    </div>
    <br />
    <div style="width: 100%;">
        <label style="width: 30%; float: left;" for="">Address</label>
        <input style="width: 60%;" class="form-control" type="text" name="" value="{{ customer_record.address }}" id="">
    </div>
    <br />
    <div style="width: 100%;">
        <label style="width: 30%; float: left;" for="">City</label>
        <input style="width: 60%;" class="form-control" type="text" value="{{ customer_record.city }}" name="" id="">
    </div>
    <br />
    <div style="width: 100%;">
        <label style="width: 30%; float: left;" for="">State</label>
        <input style="width: 60%;" class="form-control" type="text" value="{{ customer_record.state }}">
    </div>
    <br />
    <div style="width: 100%;">
        <label style="width: 30%; float: left;" for="">ZipCode</label>
        <input style="width: 60%;" type="text" class="form-control" name="" value="{{ customer_record.zipcode }}" id="">
    </div>
    <br>
    <br>
    <!-- <div class="w-25 mx-auto"> -->
        <input type="submit" class="position-relative start-50 translate-middle btn btn-success">
    <!-- </div> -->
</form>
<!-- style="background-color: rgb(128, 127, 127); border: none; padding: 8px; margin: 3px; border-radius: 6px;" -->
<br/>
<br/>
<a href="{% url 'home'%}" class="btn btn-primary text-decoration-none text-light mb-3">Back</a>
&nbsp; &nbsp;
<a href="{% url 'Delete' customer_record.id %}" class="btn btn-danger mb-3">Delete</a>

{% endblock %}

